body {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Corrigido para ocupar toda a altura da tela */
    margin: 0; /* Remove a margem padrão do body */
    font-family: Arial, sans-serif; /* Fonte padrão */
    padding-top: 5%;
    padding-bottom: 5%;
}
a{
    text-align: center;
    margin-top: 10%;
    color: #b1911d;
}
form {
    display: flex;
    flex-direction: column;
    padding: 5%; /* Ajustado para manter consistência */
    border-radius: 8px; /* Arredondamento maior para um visual mais suave */
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.363); /* Adiciona uma sombra leve */
    width: 100%; /* Para dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    color: white;
}
form p{
    margin-bottom: -1%;
    margin-top: -1.5%;
}
form img{
    width: 30%;
    margin-bottom: 4%;
    border-radius: 3px;
}

form h1{
    color: #aaaaaa;
}
form input {
    margin: 10px 0; /* Margem vertical para espaçamento uniforme */
    padding: 12px; /* Aumenta o padding para inputs maiores */
    border: 1px solid #ddd; /* Adiciona uma borda leve */
    border-radius: 4px; /* Arredondamento dos inputs */
    font-size: 14px; /* Tamanho da fonte */
}


input[type='file'] {
    display: none
  }

#upload-edit-file{
    background-color: #b1911d;
    color: #ddd;
    padding: 2% 1% 2% 1%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10%;
}

#upload-edit-file i{
    font-size: 2rem;
    margin-right: 5%;
    margin-left: 3%;
}

#fileInput i{
    font-size: 2rem;
    margin-right: 5%;
}

#btt-edit{
    cursor: pointer;
    background-color: #b1911d;
    color: white;
    border: none;
    padding: 4%;
    border-radius: 3px;
}
h1 {
    padding: 10px 0; /* Padding vertical */
    text-align: center; /* Centraliza o texto */
    color: #fff; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}